.map {

  width: 90%;

  height: 400px;

  border: 1px solid red;

  margin: 5%;

  position: relative;

}

html {

  margin: 0;

  padding: 0;

}

body {

  overflow: hidden;

  margin: 0;

  padding: 0;

  line-height: 1.5em;

  position: fixed;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

}